
# IDE
.idea
.vscode

# node
node_modules
*.log
.next
app
dist
build

.env

# python
resources/python-embedded/
resources/git/
resources/python/caption/wd14/models/model.onnx
__pycache__
.pytest_cache

# live-canvas
live-canvas-frontend-user-data.png
live-canvas-generate-image-output.png
live-canvas-generate-image-output.png.tmp.png

# test
coverage
playwright-report
