--extra-index-url https://download.pytorch.org/whl/cu121

wheel 
torch==2.1.2+cu121
torchvision
torchaudio==2.1.2
nvidia-cudnn-cu12
nvidia-cuda-runtime-cu12
xformers
# triton
diffusers
transformers
accelerate
peft
.\resources\python\live-painting\stable_fast-1.0.1+torch212cu121-cp310-cp310-win_amd64.whl
